.coinWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #f6f6f6;
  min-width: 400px;
  border-radius: 24px;
  -webkit-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.08);
  .title {
    display: flex;
    flex-direction: column;
    .title__text {
      font-size: 32px;
      font-weight: bold;
    }
    .title__description {
      color: grey;
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  .rate {
    cursor: pointer;
    font-size: 30px;
    color: #31be00;
    font-weight: bold;
  }
}
