.index__wrapper {
  height: 100vh;
  width: 100%;

  .index__description {
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin-bottom: 5px;
    }
  }

  .coin__items {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    @media (max-width: 576px) {
      flex-direction: column;
    }
  }
}
